*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
flex-wrap: wrap;
}

.list{
    display: flex;
    width: 700px;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 15px;
    font-weight: 300;
    font-size: 20px;

margin-left: 5px;
color: #3f3a3a;
}
.list-items:hover{
   font-size: 25px;
cursor: pointer;
color: #ec1313;
font-weight: 900;
}
.list-items{
    width: 120px;
}



button{
   margin-right: 10px;
    margin-top: 5px;
    padding:10px 20px;
    font-size: 30px;
    background-color: #fff;
    border-radius: 15px;
    color: #1955a3;
    border: 2px solid #1955a3;
    font-weight: 600;
}
.header-logo{
  margin-left: 20px;
}
button:hover{
cursor: pointer;
    color: red;
}
@media only screen and (max-width:400px){
    button{
     font-size: 15px;
     padding: 5px 5px;
    }
} 

@media only screen and (max-width:1138px){
    .list{
        display: none;

    }
}

/* navbar end here */

.hero-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 600px;
    width: 100%;
}

.right-div{
    margin-top: 30px;

}

.heading{
    font-size: 60px;
    width: 600px;
    font-weight: 900;
    padding-left: 100px;
    margin-top: 50px;
    
}
.content{
    width: 490px;
    padding-left: 130px;
    margin-top: 50px;
    font-size: 20px;
}
.but{
    margin-top: 50px;
    margin-left: 200px;
    background-color: #b2afc2;
}
.left-div img{
    margin-top: 50px;
    height: 500px;
    width: 700px;
    border-radius: 10px;
    margin-right: 30px;

}
@media screen and (max-width:707px) {
    .heading{
        width: 350px;
        font-size: 30px;
        flex-wrap: wrap;
        padding: 0px;
        margin-left: 10px;
    }
    .content{
        display: none;
    }
    .left-div img{
        width: 400px;
        height: 200px;
    }
.but{
    margin-left: 120px;
}

}